.menu-color{
	background-color: #d8d7d3 ;
	color: #202940;;
	
}
.nav-link{
	color: #202940 !important;
	margin: 10px;
}

.color-button{
	background-color: #202940 !important;
	color: #cc9f77 !important;
}
.borda{
	border: solid;
	margin: auto;
}
.menu{
	margin: auto;	
}
.icones-posicao{
	margin-top:15px ;
	margin-right: 10px;

}
.botao-posicao{
	margin-top:8px ;

}